tutorial/notebooks/data/DEM/
# tutorial/notebooks/data/region_polygons/
tutorial/notebooks/data/region_polygons.zip
tutorial/notebooks/data/geospatial_layers/
tutorial/notebooks/data/basins/
tutorial/_build/
temp/

.ipynb_checkpoints/

*-draft.md
__pycache__/

